<div class="d-flex align-items-center">
  <div class="spinner-border spinner-border-sm" role="status">
    <span class="visually-hidden">Chargement...</span>
  </div>
  <em class="ms-2"><%= status %></em>
</div>
